html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: #f9f9fc;
}

a {
  color: #23a;
}

a:visited {
  color: #539;
}

#container {
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  background: #f9f9fc;
  font-family: Arial, sans-serif;
  color: #234;
}

#header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: #000 url("../imgs/header.jpg") no-repeat left 0 top 0;
  background-size: 100% 100%;
}

#title {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  height: 3.5em;
  color: #fff;
  padding: 1.2em;
}

#title h1 {
  font-size: 2em;
  margin: 0;
}

#title p {
  font-size: 1em;
  margin: 0;
}

#navbar {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  font-size: 1em;
  line-height: 1.8em;
  height: 2.2em;
  width: 100%;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar ul li {
  list-style-type: none;
  display: inline;
}

#navbar li a {
  display: block;
  float: left;
  padding: 0.2em 0.6em;
  border-radius: 3px 3px 0 0;
  background: rgba(34, 51, 68, 0.5);
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgba(249, 249, 252, 0.5);
  border-right: 1px solid rgba(249, 249, 252, 0.5);
}

#navbar li:last-child a {
  border-right: none;
}

#navbar li a.active {
  color: #000;
  background-color: #f9f9fc;
}

#navbar li a:hover {
  background-color: rgba(249, 249, 252, 0.5);
}

#navbar li a.active:hover {
  background-color: #f9f9fc;
}

#content {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  clear: left;
  padding: 1em;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 2em 3em;
}

@media screen and (min-width: 768px) {
  #pic {
    width: 250px;
    min-height: 100vh;
    float: left;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  #content {
    background-image: none !important;
  }
  #title p {
    font-size: 0.8em;
  }
}

#txt {
  overflow: hidden;
}

#content h2 {
  font-size: 1.6em;
  padding: 0.2em;
  border-bottom: solid 2px #234;
}

#content p {
  padding: 0.3em;
}

#content ul {
  list-style-type: square;
  font-size: 1em;
  color: #234;
}

#content ul li {
  margin: 0.8em 0;
}

#content ul ul li {
  margin: 0.5em 0;
}

#content a {
  text-decoration: none;
}

#content .tag {
  font-size: 1em;
  font-style: italic;
  border: 1px solid #339;
  border-radius: 2px;
  background-color: #eeeeff;
  padding: 0.1em 0.3em;
  margin: 0 0.1em;
}

#footer {
  position: sticky;
  bottom: 0;
  z-index: 99;
  background: #234;
  text-align: right;
  height: 2em;
  width: 100%;
  font-size: 1em;
  color: #fff;
}

#footer ul li {
  list-style-type: none;
  display: inline;
}

#footer li a {
  display: block;
  float: right;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
}

#footer li a:hover {
  background-color: #89a;
}

#footer li img {
  vertical-align: middle;
}
