html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

#container {
  horizontal-align: middle;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px;
  border-color: #333;
  max-width: 1200px;
  background: #f9f9fc;
  font-family: Arial, sans-serif;
}

#header {
  background: #000;
  height: 60px;
  background-image: url("../imgs/header.jpg");
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: auto 100%;
  color: #fff;
  padding: 20px;
}

#header h1 {
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

#header p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.tag {
  font-size: 12px;
  font-style: italic;
  border: 1px solid #000088;
  background-color: #eeeeff;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 1px;
}

#navigation {
  float: left;
  height: 28px;
  width: 100%;
  background: #234;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a.active {
  color: #000;
  background-color: #f9f9fc;
}

#navigation li a:hover {
  background-color: #89a;
}

#navigation li a.active:hover {
  background-color: #f9f9fc;
}

#content {
  clear: left;
  padding: 1em;
  padding-bottom: 3em;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  #pic {
    width: 25%;
    max-width: 300px;
    float: left;
    padding: 1em;
  }
  #container {
    margin: 16px auto;
  }
}

@media screen and (max-width: 768px) {
  #pic {
    display: none !important;
  }
  #header {
    background-position: left;
  }
  #header p {
    font-size: 12px;
    line-height: 12px;
  }
}

#pic img {
  width: 100%;
}

#txt {
  overflow: hidden;
}

#content h2 {
  color: #234;
  font-size: 160%;
  padding: 5px 5px 5px 5px;
  border-top: solid 0px #234;
  border-bottom: solid 2px #234;
}

#content p {
  color: #234;
  padding: 5px 5px 5px 5px;
}

#content ul {
  list-style-type: square;
  color: #234;
}

#content ul li {
  margin: 0.5em 0;
}

#content ul ul li {
  margin: 0.2em 0;
}

#content a {
  text-decoration: none;
}

#footer {
  bottom: 0;
  background: #234;
  text-align: right;
  height: 26px;
  width: 100%;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
}

#footer ul li {
  list-style-type: none;
  display: inline;
}

#footer li a {
  display: block;
  float: right;
  padding: 6px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#footer li a:hover {
  background-color: #89a;
}

#footer li img {
  vertical-align: middle;
}
