:root {
  --bg-color: #f9f9fc;
  --text-color: #223344;
  --text-title-color: #ffffff;
  --a-color: #2233aa;
  --a-visited-color: #553399;
  --ul-odd-color: #f9f9fc;
  --ul-even-color: #e8eaf9;
  --tag-color: #6666aa;
  --tag-border-color: #000000;
  --tag-text-color: #ffffff;
}

html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: var(--bg-color);
}

a {
  color: var(--a-color);
}

a:visited {
  color: var(--a-visited-color);
}

#container {
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  background: var(--bg-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

#header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: #000 url("../imgs/header.jpg") no-repeat left 0 top 0;
  background-size: 100% 100%;
}

#title {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  height: 3.5em;
  color: var(--text-title-color);
  padding: 1.2em;
}

#title h1 {
  font-size: 2em;
  margin: 0;
}

#title p {
  font-size: 1em;
  margin: 0;
}

#navbar {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  font-size: 1em;
  line-height: 1.8em;
  height: 2.25em;
  width: 100%;
}

.navigation-buttons ul {
  margin: 0;
  padding: 0;
}

.navigation-buttons ul li {
  list-style-type: none;
  display: inline;
}

.navigation-buttons li a {
  display: block;
  float: left;
  padding: 0.2em 0.6em;
  border-radius: 3px 3px 0 0;
  background: rgba(34, 51, 68, 0.5);
  color: var(--text-title-color);
  text-decoration: none;
  border: 1px solid rgba(249, 249, 252, 0.5);
  border-width: 1px 1px 0px 0px;
}

.navigation-buttons li:last-child a {
  border-right: none;
}

.navigation-buttons li a.active {
  color: #000;
  background-color: var(--bg-color);
}

.navigation-buttons li a:hover {
  background-color: rgba(249, 249, 252, 0.5);
}

.navigation-buttons li a.active:hover {
  background-color: var(--bg-color);
}

.navigation-buttons li img {
  vertical-align: middle;
}

#content {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1000px;
  clear: left;
  padding: 1em;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 2em 3em;
}

@media screen and (min-width: 768px) {
  #pic {
    width: 250px;
    min-height: 100vh;
    float: left;
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  #content {
    background-image: none !important;
  }
  #title p {
    font-size: 0.8em !important;
  }
  #content ul {
    margin: 0 !important;
    padding: 0.3em !important;
  }
  #content ul ul li {
    margin: 0 !important;
    padding: 0.3em !important;
    list-style-type: none !important;
  }
}

#txt {
  overflow: hidden;
}

#content h2 {
  font-size: 1.6em;
  padding: 0.2em;
  border-bottom: solid 2px var(--text-color);
}

#content p {
  padding: 0.3em;
}

#content ul {
  list-style-type: square;
  font-size: 1em;
  color: var(--text-color);
  margin: 0em 0em;
  padding: 0.3em;
}

#content ul ul {
  margin: 0em 1em;
}

#content li {
  list-style-type: none;
  margin: 0;
  padding: 0.8em 0.8em;
  border-bottom: var(--text-color) dotted 1px;
  background-color: var(--ul-odd-color);
}

#content li:nth-child(even) {
  background-color: var(--ul-even-color);
}

#content li:nth-child(even) li:nth-child(odd) {
  background-color: var(--ul-even-color);
}

#content li:nth-child(odd) li:nth-child(even) {
  background-color: var(--ul-odd-color);
}

#content ul li:last-child {
  border-bottom: none;
}

#content li li {
  background-color: none;
  list-style-type: square;
  margin: 0.5em 0;
  padding: 0;
  border-bottom: none;
}

#content a {
  text-decoration: none;
}

#content .tag {
  font-size: 1em;
  font-style: italic;
  border: 1px solid var(--tag-border-color);
  border-radius: 2px;
  background-color: var(--tag-color);
  padding: 0.1em 0.3em;
  margin: 0 0.1em;
  color: var(--tag-text-color);
}

#footer {
  position: sticky;
  bottom: 0;
  z-index: 99;
  background: #000 url("../imgs/footer.jpg") no-repeat left 0 top 0;
  background-size: 100% 100%;
  text-align: right;
  font-size: 1em;
  line-height: 1.8em;
  height: 2.2em;
  width: 100%;
  color: var(--text-title-color);
}

#footer ul li a {
  float: right;
  border-width: 0 0 1px 1px;
  border-radius: 0 0 3px 3px !important;
}
