<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="author" content="Liam Keegan" />
    <link rel="manifest" href="/manifest.json" />
    <meta charset="utf-8" />
    <meta
      id="meta"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>LKApp :: {{ page.title }}</title>
    <link
      rel="stylesheet"
      href="css/layout.css"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>LKApp</h1>
        <p>A test installable progressive web app</p>
      </div>
      <div id="content">
        <div id="txt">{{ content }}</div>
      </div>
      <div id="footer">test PWA app</div>
    </div>
  </body>
</html>
