---
navbar_pages:
  - title: About me
    url: index
  - title: Projects
    url: projects
  - title: Teaching
    url: teaching
  - title: Open source
    url: open-source
  - title: Physics
    url: physics
  - title: CV
    url: cv
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="author" content="Liam Keegan" />
    <meta charset="utf-8" />
    <meta
      id="meta"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Liam Keegan :: {{ page.title }}</title>
    <link
      rel="stylesheet"
      href="css/layout.css"
      type="text/css"
      media="screen"
    />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="title">
          <h1>Liam Keegan</h1>
          <p>
            Scientific Software Developer and High Performance Computing expert
          </p>
        </div>
        <div id="navbar" class="navigation-buttons">
          <ul>
            {% for navbar_page in layout.navbar_pages %}
            <li>
              {% if navbar_page.title == page.title %}
              <a class="active" href="{{ navbar_page.url }}.html"
                >{{ navbar_page.title }}</a
              >
              {% else %}
              <a href="{{ navbar_page.url }}.html">{{ navbar_page.title}}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="content" style="background-image:url(imgs/{{ page.image }});">
        <div id="pic"></div>
        <div id="txt">{{ content }}</div>
      </div>
      <div id="footer" class="navigation-buttons">
        <ul>
          <li>
            <a href="https://orcid.org/0000-0002-0654-4979"
              ><img src="imgs/ORCID.png" alt="ORCID" width="14px"
            /></a>
          </li>
          <li>
            <a href="https://www.xing.com/profile/Liam_Keegan2"
              ><img src="imgs/XING.png" alt="XING" width="14px"
            /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/liamrgkeegan"
              ><img src="imgs/LinkedIn.png" alt="LinkedIn" width="14px"
            /></a>
          </li>
          <li>
            <a href="https://github.com/lkeegan"
              ><img src="imgs/GitHub.png" alt="GitHub" width="14px"
            /></a>
          </li>
          <li>
            <a href="mailto:liam@keegan.ch">liam@keegan.ch</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
